.quiz-item {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.quiz-toggle-arrow {
    font-size: 1.2em;
    user-select: none;
}

.quiz-sublist {
    margin-left: 20px; /* Indent the sublist */
    list-style-type: none; /* Remove bullets */
    padding: 0;
}

.quiz-question-item {
    cursor: pointer;
}

.quiz-question-item:hover {
    text-decoration: underline; /* Highlight on hover */
}

.quiz-sublist {
    display: none;
    transition: max-height 0.3s ease;
    overflow: hidden;
}
.quiz-sublist.active {
    display: block;
}

