* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    
    width: 400px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.main-content {
    border: solid 1px;
    border-radius: 6px;
    text-align: center;
    position: relative;
    overflow: hidden;
    min-height: 200px;
    min-width: 400px;
    max-height: 200px;
    max-width: 400px;
    
}
.flashcard-number {
    position: absolute;
    top: 0;
    right:5px;
    font-weight: bold;
}

.category-header {
    display: block;
    text-align: left;
    margin-top: -23px;
}

#section-content {
    padding: 50px 0;
}

.carousel-nav {
    display: block;
    margin: 0 auto;
    width: 300px;
    text-align: center;
    margin-top: 5px;
}

.carousel-nav button{
    width: 50px;
    height: 30px;
    margin: 0 20px;
    touch-action: manipulation; /* Prevents default touch actions like zooming */
}
.carousel-nav{
    touch-action: manipulation; /* Prevents default touch actions like zooming */
}
