* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles for the body and layout */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
}

/* Header styles */
header {
    position: absolute;
    margin-top: 70px;
    margin-left: 20px;
    text-decoration: none;
    color: #000;
    z-index: 2;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
header ul li {
    margin: 5px 0;
}
header a {
    text-decoration: none;
    color: #000;
}

/* Current section title */
#current-section a {
    color: #000;
    text-decoration: none;
}
main {
    position: absolute;
    top: 20px;
    width: 100vw;
}

main h2 {
    text-align: center;
    margin-bottom: 30px;
}
main h2::after {
    content: " Terms";
}
#terms {
    position: absolute;
    top: 70px;
    right: 25px;
    z-index: 2;
}
#terms p {
    margin: 5px 0;
}
#terms a {
    text-decoration: none;
    color: #000;
}
.video {
    margin: 0 auto;
    width: 100px;
}
